<!--
  Author: Charlie Bailey
  Purpose: Set base template that successive pages can inherit from.
-->

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  {% block styles %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/guide.css"/>
  {% endblock %}
  {% block script %}{% endblock %}
</head>

<body>
  <h1>
    {% block header %} Scrappy Appy {% endblock %}
  </h1>
  <nav>{% block navigation %}{% endblock %}</nav>
  <div class="content">
    {% block content %} {% endblock %}
  </div>
</body>