<!--
    Author: Charlie Bailey
    Purpose: inject content for login page into base template
-->

{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block script %}
<script src="static/javascript/signupLogin.js"></script>
{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="static/css/login-signup.css" />
{% endblock %}

{% block navigation %}
<a href="{{ url_for('signup') }}">
    <button>Sign-up</button>
</a>
{% endblock %}

{% block content %}
<div id="login-container">
    <h3>Enter username and password to login.</h3>
    <div class="text-input">
        <label><strong>Username:</strong></label>
        <input id="username" type="text" placeholder="Enter username" required />
    </div>
    <div class="text-input">
        <label><strong>Password:</strong></label>
        <input id="password" type="password" placeholder="Enter password" required />
    </div>
    <button id="loginSubmit">Login</button>
</div>
{% endblock %}